<!DOCTYPE HTML>
<html>
<head> 
    <title>SmartBrains.io</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    <div style="text-align: center">
    <h1>SmartBrains.io Home</h1>
    <p>Get your special greeting <a href="/greeting">here</a></p>
    </div>
    <div th:replace="fragments/footer :: footer">
    <hr>
    Brought to you by <a href="http://jimmyhurff.com">Jimmy Hurff</a>
    <script src="/jquery/3.5.1/jquery.min.js"></script>
    <script src="/bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
